.root {
    flex-grow: 1;
    margin-top: 25px;
    padding: 0px 15px;
}

@media (min-width: 320px) and (max-width: 766px) {
    .root{
        margin-top: 25px;
        padding: 0px 20px;
    }
    .grid {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    
    .grid {
        max-width: 50% !important;
        flex-basis: 50% !important;
    }
}