.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
    height: 100%;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.3s ease;
     &:hover {
        background-color: rgb(190, 186, 186);
        transform: translateY(-5px);
    }
}

.img {
    height: 150px;
    margin: 10px;
    img {
        height: 100%;
        max-width: 100%;
    }
}