@import '../../CssVariables/CssVariables.css';

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
  }
  
  .sections {
    display: flex;
    flex-grow: 1;
  }

  @media (min-width: 320px) and (max-width: 500px) {
    .sections {
        flex-direction: column;
    }
}